body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

table {
    margin: auto;
    background: white;
}
